.content5 {
    display: block;
    float: right;
    margin-top: 8.75rem;
    .display-1 {
        color: black;
    }
    span {
        color: $secondary;
    }
    p {
        color: black;
    }
}

