$primary: #9CABC0;
$secondary: #4C68EF;
$bg:#E8F3FF;


$counting-box-bg: #FAFCFF;
$counting-box-shadow: #D3DEFD;
$counting-box-icon-bg: #FEFEFE;
$counting-box-icon-shadow: #D3DEFD;

$container-box-sup-color: #46DBC6;
$container-box-span-bg:#ECFBF9;
$container-box-small-color: #C1CAD4;

$button-primary-bg: #F2F8FF;
$button-warning-bg: #E1E8FD;
$button-dark-bg: #40E1CB;


$icon-color: #58A2FC;
